@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './base.scss';
@import './sidebar.scss';

// body
body {
  background-color: $bgColor;
  overflow-x: hidden;
}

#app {
  // AppMain.vue
  .main-container {
    width: calc(100vw - $sideBarWidth);
    min-height: 100vh;
    margin-left: $sideBarWidth;
  }

  .content-container {
    margin: $moduleSpacing;
  }

  .cell {
    white-space: nowrap;
  }

  /** 表格内容单元格样式 */
  & td.el-table__cell .cell {
    overflow: hidden;
    text-overflow: ellipsis;

    vertical-align: text-bottom;
  }

  /** 小间距样式 */
  .spacing-s {
    margin-left: 5px;
  }

  /** 上下居中对齐 */
  .v-center {
    display: flex;
    align-items: center;
  }

  /** 内容通用间距边距 */
  .cpt {
    padding-top: $contentSpacing;
  }
  .cpb {
    padding-bottom: $contentSpacing;
  }
}
