@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './base.scss';
@import './sidebar.scss';

// body
body {
  background-color: $bgColor;
  overflow-x: hidden;
}

#app {
  // AppMain.vue
  .main-container {
    min-height: 100vh;
    padding-left: $sideBarWidth;
    width: 100%;
  }

  /** 头部容器 */
  .header-container {
    background: #fff;
    font-size: 14px;
    border-left: 1px solid #eee;
    .navBar {
      height: 48px;
      border-bottom: 1px solid #eee;
      display: flex;
      align-items: center;
      padding: 0 10px;
      .el-icon {
        font-size: 20px;
        font-weight: light;
        cursor: pointer;
      }
    }
  }

  .content-container {
    margin: $moduleSpacing;
  }

  .cell {
    white-space: nowrap;
  }

  /** 表格内容单元格样式 */
  & td.el-table__cell .cell {
    overflow: hidden;
    text-overflow: ellipsis;

    vertical-align: text-bottom;
  }

  /** 小间距样式 */
  .spacing-s {
    margin-left: 5px;
  }

  /** 上下居中对齐 */
  .v-center {
    display: flex;
    align-items: center;
  }

  /** 内容通用间距边距 */
  .cpt {
    padding-top: $contentSpacing;
  }
  .cpb {
    padding-bottom: $contentSpacing;
  }
}
